/* estilo para tablets */
@media only screen and (min-width: 768px) and (max-width: 959px){
/* passos */
.passos:after{
    right: 70px;
}

.passos-lista li{
	padding: 0 10px;
}

/* footer */
.footer_redes ul li a{
	padding: 6px;
}

.footer_redes ul li a img{
	width: 26px;
	height: 26px;
}

}

/* estilo para smartphone */
@media only screen and (max-width: 767px){

/*header */
.header{
	position: relative;
	padding-bottom: 0;
}

.header img{
	margin:  0 auto 10px auto;
}

.header_menu{
	text-align: center;
}

.header_menu ul li{
	margin: 5px;
}

.header_menu ul li a {
	border: 2px solid #000;
	width: 136px;
	display: block;
	float: left;
}

.header_menu ul li a:hover{
	border-color: #f0dd41;
}

.header_menu ul li a.ativo{
	border-color: #f0dd41;
}

/* introdução */
.introducao h1{
	font-size: 36px;
}

.introducao{
	margin-top: 0px;
	padding-top: 40px;
	background: url('../img/bg-main-mobile.jpg') no-repeat center;
	background-size: cover;
}

/* Introdução interna */
.introducao-interna {
	margin-top: 0px;
}

/* Call */
.call{
	padding-top: 10px;
}

/* passos */
.passos:after{
    display: none;
}

.passos-lista {
    padding-top: 30px;
    overflow: unset;
}

/* sobre */
.historia_sobre p, .historia_sobre ul li{
	font-size: 16px;
	padding-right: 0px;
}

/*contato*/
.contato-form {
    padding-right: 0px;
}
	
}